*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  display: flex;
  /* border-bottom: 1px solid black; */
}
body{
  width: 95%;
  margin: auto;
}
.header-left{
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header-left img{
  height: 35px;
}
.header-left a{
  text-transform: uppercase;
}

.menu-list{
  display: flex;
  list-style: none;
}
.menu-list li{
  padding: 0 20px;
  line-height: 80px;
  position: relative;
}
.link{
  text-decoration: none;
  color: darkgrey;
  font-size: 20px;
}
.drop-menu{
  display: none;
  position: absolute;
  left:0;
  top:80px;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;

}
.drop-menu li{
  line-height: 50px;
  vertical-align: middle;
}
.drop-large li{
  width: 400px;
}
.drop-medium li{
  width: 250px;
}

.link-active{
  color: black;
}

.header-right{
  width: 70%;
  height: 80px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right a{
  text-transform: capitalize;
}
.button{
  display: inline-block;
  background-color: rgb(235, 0, 141);
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover{
  background-color: rgb(210, 0, 126);
}
